<h1 class="d-flex justify-content-center">Outfit Crafter</h1>
<div class="fancy-form">
  <p class="d-flex justify-content-center">Update the details that makes your style better!</p>
  <%= simple_form_for(@outfit) do |f| %>
    <div class="photo-upload" data-controller="preview">
      <label for="outfit_photo_input">
        <img id="photo-preview" src="<%= @outfit.photo.attached? ? url_for(@outfit.photo) : cl_image_path('blank-profile-picture-973460_1280_q70y1j') %>" alt="Outfit preview" class="preview-image" />
      </label>

      <%= f.input :photo,
            as: :file,
            input_html: {
              accept: 'image/*',
              id: 'outfit_photo_input',
              data: { action: 'change->preview#update' }
            },
            label: false %>
    </div>
    <%= f.input :title %>
    <%= f.input :goal %>
    <%= f.input :description %>
    <%= f.input :style %>
    <div class="color-picker-wrapper" data-controller="color">
      <% 4.times do |i| %>
        <div class="color-bubble">
          <input
            type="color"
            name="outfit[color_set][]"
            id="color_set_<%= i %>"
            value="<%= @outfit.color_set[i] || '#BCA7E8' %>"
            data-action="input->color#update"
            class="color-input"
          >
        </div>
      <% end %>
    </div>
    <div class="items-list-wrapper">
      <% 3.times do |i| %>
        <%= f.input :items_list,
          label: "Item #{i+1}",
          input_html: {
            name: "outfit[items_list][]",
            value: @outfit.items_list[i] || "",
            placeholder: "Enter item #{i+1}"
          } %>
      <% end %>
    </div>
    <%= f.button :submit, "Validate", class: "btn btn-flat" %>
  <% end %>
</div>
