<h1>Outfit Crafter</h1>
<%= simple_form_for(@outfit) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :style %>
  <%= f.input :goal %>
  <%= f.input :outfit_image_url %>
  <%= f.button :submit, "Create Outfit" %>
<% end %>
