<!-- >
  This page will be a form to generate the informations for the user's profile

  The idea is to make a simple form that will redirect us to the user's profile

  1. Make the form only with text inputs (with Simple Form)
  2. Check for the image storage for avatars and other kind of image data
  3. Link for the next user story

<-->

<h1>Brand your Identity Up</h1>
<p>Your profile is not complete. Please fill in this to make it shine like it deserves!</p>
<%= simple_form_for(current_user) do |f| %>
  <%= f.input :username %>
  <%= f.input :bio %>
  <%= f.input :talent %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, "Edit User" %>
<% end %>
