<div class="d-flex justify-content-center">
  <% if @user.photo.key %>
    <%= cl_image_tag @user.photo.key, height: 300, width: 300, crop: :fill, class: "rounded-circle" %>
  <% else %>
    <%= cl_image_tag("blank-profile-picture-973460_1280_q70y1j", height: 300, width: 300, crop: :fill, class: "rounded-circle")%>
  <% end %>
</div>
<div class="d-flex justify-content-center">
  <% if current_user == @user %>
  <% else %>
    <%= form_with url: user_chats_path(current_user), method: :post, local: true do %>
      <%= hidden_field_tag :partner_id, @user.id %>
      <%= submit_tag "Connect", class: "btn btn-flat" %>
    <% end %>
  <% end %>
</div>
<div class="banner" style="background-color: #c8c3fe;">
  <div class="container">
    <h1><%= @user.username %>'s profile</h1>
    <p><%= @user.bio%></p>
    <div class="ul">
      <div class="li"><strong>Talent</strong> <%= @user.talent %></div>
      <div class="li"><strong>Values</strong>
          <% @user.values.each do |value|%>
          <span><%= value %></span>
          <% end %>
      </div>
    </div>
  </div>
</div>

<% if @user.has_outfit? %>
  <h2>The outfits</h2>
  <% @user.outfits.each do |outfit| %>
    <div class="card-product">
      <%= link_to outfit_path(outfit) do %>
        <img src="<%= outfit.outfit_image_url %>" />
        <div class="card-product-infos">
          <h2><%= outfit.title %></h2>
          <p><%= outfit.description %></p>
          <% if current_user == @user %>
            <%= link_to "Edit", edit_outfit_path(outfit), class: "btn btn-flat"%>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <% if current_user == @user %>
    <div class="banner" style="background-color: #c8c3fe;">
      <div class="container">
        <h2>No outfit yet ?</h2>
        <p>Your profile feels naked without an outfit to wear. Let's change that now!</p>
        <%= link_to "Outfits Creator", "/outfits/new", class: "btn btn-flat"%>
      </div>
    </div>
  <% else %>
    <div class="banner" style="background-color: #c8c3fe;">
      <div class="container">
        <h2>No outfit from <%= @user.username%> yet</h2>
        <p><%= @user.username%> has not created his first outfit. You could send a message and propose your help.</p>
        <%= form_with url: user_chats_path(current_user), method: :post, local: true do %>
          <%= hidden_field_tag :partner_id, @user.id %>
          <%= submit_tag "Send a message", class: "btn btn-flat" %>
        <% end %>
      </div>
    </div>
  <% end %> <!-- > Funny though <-->
<% end %>
