<div class="user-page">

  <!-- Header profile -->
  <div class="container">
    <div class="user-header">
      <div class="user-avatar">
        <% if @user.photo.attached? %>
          <%= image_tag url_for(@user.photo), alt: @user.username, class: "avatar-img" %>
        <% else %>
          <%= image_tag "blank-profile-picture-973460_1280_q70y1j.png", alt: @user.username, class: "avatar-img" %>
        <% end %>
      </div>

      <div class="user-info">
        <h1 class="username"><%= @user.username %></h1>
        <p class="bio"><%= @user.bio %></p>
        <% if @user.talent.present? %>
          <p class="talent"><strong>Talent:</strong> <%= @user.talent %></p>
        <% end %>
        <% if @user.values.present? %>
          <div class="values">
            <% Array(@user.values).first(3).each do |val| %>
              <span class="tag"><%= val %></span>
            <% end %>
          </div>
        <% end %>

        <div class="user-actions">
          <% if current_user == @user %>
            <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-flat" %>
            <%= link_to "New Outfit", "/outfits/new", class: "btn btn-flat" %>
          <% else %>
            <%= link_to "Message", user_chats_path(@user), class: "btn btn-flat" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- Outfits -->
  <div class="container">
    <div class="user-outfits">
      <h2>Outfits</h2>
      <div class="outfit-grid">
        <% @user.outfits.each do |outfit| %>
          <%= render partial: "outfits/card", locals: { outfit: outfit } %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="modal-overlay"
       data-controller="modal"
       data-modal-target="overlay"
       data-action="click->modal#backdrop"
       hidden>
    <turbo-frame id="outfit_modal" data-modal-target="frame"></turbo-frame>
  </div>
</div>
