<% if @user.photo.key %>
  <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
<% else %>
  <%= cl_image_tag("0k3y4rlo4x8yuo8xz8u98fpot0b1", height: 300, width: 400, crop: :fill)%>
<% end %>
<div class="banner" style="background-color: #BC63F8;">
  <div class="container">
    <h1><%= @user.username %>'s profile</h1>
    <p><%= @user.bio%></p>
    <div class="ul">
      <div class="li">Talent: <%= @user.talent %></div>
      <div class="li">Values:
        <ul>
          <% @user.values.each do |value|%>
          <li><%= value %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% if current_user == @user %>
    <% else %>
      <%= form_with url: user_chats_path(current_user), method: :post, local: true do %>
        <%= hidden_field_tag :partner_id, @user.id %>
        <%= submit_tag "Send a message", class: "btn btn-flat" %>
      <% end %>
    <% end %>
  </div>
</div>

<% if @user.has_outfit? %>
  <h2>The outfits</h2>
  <% @user.outfits.each do |outfit| %>
    <div class="card-product">
      <%= link_to outfit_path(outfit) do %>
        <img src="<%= outfit.outfit_image_url %>" />
        <div class="card-product-infos">
          <h2><%= outfit.title %></h2>
          <p><%= outfit.description %></p>
          <% if current_user == @user %>
            <%= link_to "Edit", edit_outfit_path(outfit), class: "btn btn-flat"%>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <% if current_user == @user %>
    <div class="banner" style="background-color: #ef49d6ff;">
      <div class="container">
        <h2>No outfit yet ?</h2>
        <p>Your profile feels naked without an outfit to wear. Let's change that now!</p>
        <%= link_to "Outfits Creator", "/outfits/new", class: "btn btn-flat"%>
      </div>
    </div>
  <% else %>
    <div class="banner" style="background-color: #ef49d6ff;">
      <div class="container">
        <h2>No outfit from <%= @user.username%> yet</h2>
        <p><%= @user.username%> has not created his first outfit. You could send a message and propose your help.</p>
        <%= form_with url: user_chats_path(current_user), method: :post, local: true do %>
          <%= hidden_field_tag :partner_id, @user.id %>
        <%= submit_tag "Send a message", class: "btn btn-flat" %>
      </div>
    </div>
  <% end %> <!-- > Funny though <-->
<% end %>
