<!-- >
  Tasks to do:
  1. Page when the user has filled his profile
  2. Page when he hasn't with CTA to do it
  3. Create the form to finishing the profile
  4. But to refresh the profile page
<-->
<img src="<%= current_user.avatar_url%>" alt="Default avatar" class="avatar-bordered">

<div class="banner" style="background-color: #BC63F8;">
  <div class="container">
    <h1><%= current_user.username %>'s profile</h1>
    <p><%= current_user.bio%></p>
    <div class="ul">
      <div class="li">Talent: <%= current_user.talent %></div>
      <div class="li">Values: <%= current_user.values %></div>
    </div>
  </div>
</div>

<% if current_user.has_outfit? %>
  <h2>The outfits</h2>
  <% current_user.outfits.each do |outfit| %>
    <div class="card-product">
      <%= link_to outfit_path(outfit) do %>
        <img src="<%= outfit.outfit_image_url %>" />
        <div class="card-product-infos">
          <h2><%= outfit.title %></h2>
          <p><%= outfit.description %></p>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="banner" style="background-color: #ef49d6ff;">
    <div class="container">
      <h2>No outfit yet ?</h2>
      <p>Your profile feels naked without an outfit to wear. Let's change that now!</p>
      <%= link_to "Outfits Creator", "/outfits/new", class: "btn btn-flat"%>
    </div>
  </div>
<% end %>
