<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo.png", alt: "BrandMeUp" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "/", class: "nav-link" %>
            <%= link_to "Discovery", "/discovery", class: "nav-link" %>
            <%= link_to "My Inbox", inbox_user_path(current_user), class: "nav-link" %>
            <%= link_to "Log out",
                        destroy_user_session_path,
                        method: :delete,
                        data: {turbo_method: :delete, turbo_confirm: "Sign out?"},
                        class: "nav-link" %>
          </li>
          <li class="nav-item active" style="margin: auto 10px;">
            <%= link_to user_path(current_user) do %>
              <% if current_user.photo.key %>
                <%= image_tag current_user.photo.key, height: 75, width: 75, crop: :fill, gravity: :face, radius: :max, alt: "Avatar", class: "avatar" %>
              <% else %>
                <%= image_tag("blank-profile-picture-973460_1280_q70y1j", height: 150, width: 150, crop: :face)%>
              <% end %>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <%= link_to "Sign up", "/users/sign_up", class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
