<div class="container chat">
  <h1>Your chat with <%= @chat.partner.username %></h1>
  <% if @chat.has_message? %>
  <div id="messages" class="messages">
    <% @chat.messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.user.username %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
  <% else %>
    <p>You haven't started to chat with <%= @chat.partner.username %></p>
  <% end %>
  <p>Form to create</p>
</div>
