<div class="container chat">
  <h1>Your chat with <%= @chat.partner.username %></h1>
  <% if @chat.has_message? %>
  <div id="messages" class="messages">
    <% @chat.messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.user.username %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
  <% else %>
    <p>You haven't started to chat with <%= @chat.partner.username %></p>
  <% end %>
  <p>Form to create</p>
  <%= form_with model: [current_user, @chat, Message.new], local: true, html: {class: "d-flex"} do |f| %>
    <% @partner = current_user == @chat.partner ? @chat.user : @chat.partner %>
    <%= f.text_area :content, placeholder: "Your message", required: :true, class: "flex-grow-1" %>
    <%= f.submit "Send", class: "btn-new-outfit mb-3" %>
  <% end %>
  <%= link_to "Back to your inbox", inbox_user_path(current_user), class: "btn-new-outfit"%>
</div>
