<div class="banner">
  <div class="container">
    <h1>Discover what the other users have created and connect with them</h1>
    <p>Inspire each other, connect, exchange, grow together.</p>
  </div>
</div>
<div class="row">
  <% User.all.each do |user| %>
    <div class="outfit-card col-12 col-sm-6 col-md-4">
      <%= link_to user_path(user) do %>
        <div class="card-inner">
          <% if user.photo.key %>
            <%= cl_image_tag user.photo.key, class: "outfit-image" %>
          <% else %>
            <%= cl_image_tag("blank-profile-picture-973460_1280_q70y1j", class: "outfit-image")%>
          <% end %>
          <h3 class="outfit-title"><%= user.username %></h3>
          <div class="card-actions">
            <h3 class="outfit-title"><%= user.username %></h2>
            <p><%= user.talent %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
