<% if user_signed_in? %>
  <div class="banner banner-hero">
    <div class="container">
      <h1>Let your creativity shine with Discovery</h1>
      <p>Look over here what the other members have already achieved.</p>
      <%= link_to "Brand. Me. UP!", "/discovery", class: "btn btn-flat" %>
    </div>
  </div>

  <div class="banner banner-second">
    <div class="container">
      <h2>Craft your outfit kit here</h2>
      <p>Create your specific outfit and save it for your next events!</p>
      <%= link_to "Outfit Creator", "/outfits/new", class: "btn btn-flat" %>
    </div>
  </div>

  <div class="banner banner-later">
    <div class="container">
      <h2>A guide for your first outfit kit</h2>
      <p>You will learn how to create and save your first outfit kit with our guide.</p>
      <%= link_to "Coming soon", "/", class: "btn btn-flat" %>
    </div>
  </div>

<% else %>
  <div class="banner banner-hero">
    <div class="container">
      <h1>BrandMeUp</h1>
      <p>Make your brand image shine brighter with our personal styling kits!</p>
      <%= link_to "Brand. Me. UP!", "/users/sign_up", class: "btn btn-flat" %>
    </div>
  </div>

  <div class="banner banner-second" style="background-color: #BC63F8;">
    <div class="container">
      <h2>The best solution for your personal branding</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus nobis suscipit. Iure cumque omnis veritatis obcaecati ex possimus fuga autem suscipit excepturi unde, laudantium, ipsum aliquid esse corrupti. Nam.</p>
      <%= link_to "Brand. Me. UP!", "/users/sign_up", class: "btn btn-flat" %>
    </div>
  </div>

  <div class="banner banner-later">
    <div class="container">
      <h2>BrandMeUp makes you shine like a diamond</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus nobis suscipit. Iure cumque omnis veritatis obcaecati ex possimus fuga autem suscipit excepturi unde, laudantium, ipsum aliquid esse corrupti. Nam.</p>
      <%= link_to "Shine brighter!", "/users/sign_up", class: "btn btn-flat" %>
    </div>
  </div>
<% end %>
