<% if user_signed_in? %>
  <div class="banner" style="background-color: #BC63F8;">
    <div class="container">
      <h2>Your lack of inspiration dies with our Discovery</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus nobis suscipit. Iure cumque omnis veritatis obcaecati ex possimus fuga autem suscipit excepturi unde, laudantium, ipsum aliquid esse corrupti. Nam.</p>
      <%= link_to "Brand. Me. UP!", "/discovery", class: "btn btn-flat" %>
    </div>
  </div>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.discordapp.net/attachments/1262947336863354900/1263418935932616704/se7en92_a_personal_stylist_designing_a_fashion_outfit_on_a_god_3e04ac29-59d7-423b-927e-20a561459eff.png?ex=68893553&is=6887e3d3&hm=dc2810a8daea4a0e7f3e572ff918ace9d77331ad9994b6425ac0210c798fbfe0&=&format=webp&quality=lossless&width=967&height=967);">
    <div class="container">
      <h2>Craft your outfit kit here</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus nobis suscipit. Iure cumque omnis veritatis obcaecati ex possimus fuga autem suscipit excepturi unde, laudantium, ipsum aliquid esse corrupti. Nam.</p>
      <%= link_to "Outfit Creator", "/outfits/new", class: "btn btn-flat" %>
    </div>
  </div>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.discordapp.net/attachments/1262947336863354900/1294184530948788305/se7en92_a_young_biracial_fashion_entrepreneur_in_front_of_an_ec_d6c48efd-9e14-4164-95a1-678eeebbfbe9.png?ex=68891284&is=6887c104&hm=9f8342253324ca1d63e05c1aa11fd4cc00d8ccd6cebb9458885dbee4962653cf&=&format=webp&quality=lossless&width=967&height=967);">
    <div class="container">
      <h1>A guide for your first outfit kit</h1>
      <p>You will learn how to create and save your first outfit kit with our guide.</p>
      <%= link_to "Coming soon", "/", class: "btn btn-flat" %>
    </div>
  </div>

<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.discordapp.net/attachments/1262947336863354900/1294272571457667103/se7en92_one_black_sister_stylish_and_one_biracial_stylish_broth_0a7708c4-5aa3-4222-84ec-f78757f0c2d9.png?ex=6888bbc3&is=68876a43&hm=e0ae0ba8bbdee5652fe0318a3acb46c18fba7215c2a168cba5cd5e4a09cea74a&=&format=webp&quality=lossless&width=967&height=967);">
    <div class="container">
      <h1>BrandMeUp</h1>
      <p>Make your brand image shine brighter with our personal styling kits!</p>
      <%= link_to "Brand. Me. UP!", "/users/sign_up", class: "btn btn-flat" %>
    </div>
  </div>

  <div class="banner" style="background-color: #BC63F8;">
    <div class="container">
      <h2>The best solution for your personal branding</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus nobis suscipit. Iure cumque omnis veritatis obcaecati ex possimus fuga autem suscipit excepturi unde, laudantium, ipsum aliquid esse corrupti. Nam.</p>
      <%= link_to "Brand. Me. UP!", "/users/sign_up", class: "btn btn-flat" %>
    </div>
  </div>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.discordapp.net/attachments/1262947336863354900/1294184794569179147/se7en92_a_young_biracial_fashion_entrepreneur_in_front_of_an_ec_eff52344-34dc-462a-838a-dc88e9365c16.png?ex=688912c3&is=6887c143&hm=9e692e5b68b0ecf2e5bfda4658c9973fd5b2c1cb04d5af47a3034bc27272858f&=&format=webp&quality=lossless&width=967&height=967);">
    <div class="container">
      <h2>BrandMeUp makes you shine like a diamond</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus nobis suscipit. Iure cumque omnis veritatis obcaecati ex possimus fuga autem suscipit excepturi unde, laudantium, ipsum aliquid esse corrupti. Nam.</p>
      <%= link_to "Shine brighter!", "/users/sign_up", class: "btn btn-flat" %>
    </div>
  </div>
<% end %>
