<!-- app/views/feedbacks/_feedback.html.erb -->
<div class="feedback">
  <div class="feedback__avatar">
    <% if feedback.user.respond_to?(:photo) && feedback.user.photo&.attached? %>
      <%= image_tag url_for(feedback.user.photo) %>
    <% else %>
      <%= image_tag "blank-profile-picture-973460_1280_q70y1j.png" %>
    <% end %>
  </div>
  <div class="feedback__body">
    <div class="feedback__meta">
      <%= link_to user_path(feedback.user),
                  data: {turbo_frame: "_top"},
                  class: "user-comment-link" do %>
        <strong><%= feedback.user.username %></strong>
      <% end %>
      <span class="time"><%= time_ago_in_words(feedback.created_at) %> ago</span>
    </div>
    <p><%= simple_format(feedback.comment) %></p>
    <%# si tu as rating, tu peux l’ajouter ici %>
  </div>
</div>
